In [29]:
### DATA Cleaning

In [141]:
import pandas as pd

In [145]:
df = pd.read_excel(r"C:\Users\Dell\Downloads\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [147]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [149]:
df = df.drop(columns ="Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [151]:
##df ["Last_Name"]= df ["Last_Name"].str.lstrip("...")
##df ["Last_Name"]= df ["Last_Name"].str.lstrip("/")
##df ["Last_Name"]= df ["Last_Name"].str.rstrip("_")
df ["Last_Name"] =df ["Last_Name"].str.strip("123._/")

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [153]:
df["Phone_Number"]=df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')

In [163]:
df["Phone_Number"]=df["Phone_Number"].apply(lambda x: str(x))

In [172]:
df["Phone_Number"]=df["Phone_Number"].apply(lambda x: x [0:3]+ ''+ x [3:6]+ ''+x[6:10])

In [174]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,No,Yes
2,1003,Walter,White,nan,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Yes,N

In [184]:
df["Phone_Number"]=df["Phone_Number"].str.replace('nan','')

In [186]:
df["Phone_Number"]=df["Phone_Number"].str.replace('N/a','')

In [188]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Yes,N

In [206]:
df["Address"].str.split(',',1, expand=True)

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [208]:
df[["street_Address", "state", "zip_code"]] =df["Address"].str.split(',',1, expand=True)

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [210]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Yes,N

In [222]:
df["Paying Customer"]=df["Paying Customer"].str.replace("Yes","Y")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [224]:
df["Paying Customer"]=df["Paying Customer"].str.replace("No","N")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,N,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,,1209 South Street,N,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [226]:
df.replace('N/a','')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,N,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,,1209 South Street,N,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,,,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [228]:
df.fillna('')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,N,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,,1209 South Street,N,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,,,123 Middle Earth,Y,
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,,3498 Super Lane,Y,
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [236]:
df=df.replace('N/a','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,N,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,,1209 South Street,N,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,,,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [240]:
df= df.fillna('')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,No
1,1002,Abed,Nadir,123-643-97,93 West Main Street,N,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-24,768 City Parkway,Y,Yes
6,1007,Jeff,Winger,,1209 South Street,N,No
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,No
8,1009,Gandalf,,,123 Middle Earth,Y,
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,No
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,No
17,1018,Clark,Kent,,3498 Super Lane,Y,
18,1019,Creed,Braton,,,,Yes
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [254]:
df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace("No","N")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,N
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,N
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,N
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,N
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,N
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,N
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [256]:
for x in df.index:
    if df.loc[x,"Do_Not_Contact"]== 'Yes':
      df.drop(x, inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,N
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,N
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,N
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,N
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,N
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,N
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [258]:
for x in df.index:
    if df.loc[x,"Phone_Number"]== '':
      df.drop(x, inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,N
3,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,N
7,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,N
9,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,N
12,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,N
14,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,N
19,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [261]:
df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-54,"123 Shire Lane, Shire",Y,N
1,1004,Dwight,Schrute,123-543-23,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
2,1005,Jon,Snow,876-678-34,123 Dragons Road,Y,N
3,1008,Sherlock,Holmes,876-678-34,98 Clue Drive,N,N
4,1010,Peter,Parker,123-545-54,"25th Main Street, New York",Y,N
5,1013,Don,Draper,123-543-23,2039 Main Street,Y,N
6,1014,Leslie,Knope,876-678-34,343 City Parkway,Y,N
7,1015,Toby,Flenderson,304-762-24,214 HR Avenue,N,N
8,1016,Ron,Weasley,123-545-54,2395 Hogwarts Avenue,N,N
9,1017,Michael,Scott,123-643-97,"121 Paper Avenue, Pennsylvania",Y,N
10,1020,Anakin,Skywalker,876-678-34,"910 Tatooine Road, Tatooine",Y,N

In [263]:
## Conculsion

In [265]:
#when i absorve the data in that some unstructured Data Like (-,_./) like this 
# i cleaned the data 
# remove null values 
#  drop columns where they dont need in this data 
# and Ajust the same formate the every data in one formate 
# and  removing  the nan Na Value and Final change the index number and final data